services:

  database:
    container_name: nuxt-flask-database
    image: postgres:18.1-alpine3.23
    env_file: 
      - database.env
    expose: 
      - 5432
    volumes:
      - database:/var/lib/postgresql
    healthcheck:
      test: 
        - CMD-SHELL
        - pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 2s
      timeout: 3s
      retries: 3
      start_period: 5s

  backend:
    container_name: nuxt-flask-backend
    build:
      context: ./backend
      args:
        - TEST_MODE=${TEST_MODE:-lax}
    env_file: 
      - backend.env
    ports: 
      - 8000:8000
    depends_on:
      database:
        condition: service_healthy

  frontend:
    container_name: nuxt-flask-frontend
    build:
      context: ./frontend
      args:
        - API_URL_BASE=${API_URL_BASE:-http://localhost:8000}
        - TEST_MODE=${TEST_MODE:-lax}
    ports: 
      - 8080:8080
    depends_on:
      backend:
        condition: service_started

volumes:
  database:
